body {
    font-family: sans-serif;
}


.mainForm {
    margin: 0 auto;
    background-color: rgba(100,100,100,.110);
    display: block;
    width: 50%;
    height: max-content;
    padding: 20px;
}

